<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXJichengAndDuotaiAndFengzhuang.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E8627701E77D9E300A6F2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E8627891E77D9E400A6F2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E8627941E77D9E400A6F2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
